:root {
--sail-gray50: #f7fafc;

--sail-gray100: #e3e8ee;

--sail-gray200: #c1c9d2;

--sail-gray300: #a3acb9;

--sail-gray400: #8792a2;

--sail-gray500: #697386;

--sail-gray600: #4f566b;

--sail-gray700: #3c4257;

--sail-gray800: #2a2f45;

--sail-gray900: #1a1f36;

--sail-blue50: #f5fbff;

--sail-blue100: #d6ecff;

--sail-blue200: #a4cdfe;

--sail-blue300: #7dabf8;

--sail-blue400: #6c8eef;

--sail-blue500: #556cd6;

--sail-blue600: #3d4eac;

--sail-blue700: #2f3d89;

--sail-blue800: #212d63;

--sail-blue900: #131f41;

--sail-cyan50: #edfdfd;

--sail-cyan100: #c4f1f9;

--sail-cyan200: #7fd3ed;

--sail-cyan300: #4db7e8;

--sail-cyan400: #3a97d4;

--sail-cyan500: #067ab8;

--sail-cyan600: #075996;

--sail-cyan700: #06457a;

--sail-cyan800: #093353;

--sail-cyan900: #042235;

--sail-green50: #efffed;

--sail-green100: #cbf4c9;

--sail-green200: #85d996;

--sail-green300: #33c27f;

--sail-green400: #1ea672;

--sail-green500: #09825d;

--sail-green600: #0e6245;

--sail-green700: #0d4b3b;

--sail-green800: #0b3733;

--sail-green900: #082429;

--sail-yellow50: #fcf9e9;

--sail-yellow100: #f8e5b9;

--sail-yellow200: #efc078;

--sail-yellow300: #e5993e;

--sail-yellow400: #d97917;

--sail-yellow500: #bb5504;

--sail-yellow600: #983705;

--sail-yellow700: #762b0b;

--sail-yellow800: #571f0d;

--sail-yellow900: #3a1607;

--sail-orange50: #fffaee;

--sail-orange100: #fee3c0;

--sail-orange200: #f8b886;

--sail-orange300: #f5925e;

--sail-orange400: #e56f4a;

--sail-orange500: #c44c34;

--sail-orange600: #9e2f28;

--sail-orange700: #7e1e23;

--sail-orange800: #5d161b;

--sail-orange900: #420e11;

--sail-red50: #fff8f5;

--sail-red100: #fde2dd;

--sail-red200: #fbb5b2;

--sail-red300: #fa8389;

--sail-red400: #ed5f74;

--sail-red500: #cd3d64;

--sail-red600: #a41c4e;

--sail-red700: #80143f;

--sail-red800: #5e1039;

--sail-red900: #420828;

--sail-purple50: #fff8fe;

--sail-purple100: #fce0f6;

--sail-purple200: #f0b4e4;

--sail-purple300: #e28ddc;

--sail-purple400: #c96ed0;

--sail-purple500: #a450b5;

--sail-purple600: #7b3997;

--sail-purple700: #5b2b80;

--sail-purple800: #401d6a;

--sail-purple900: #2d0f55;

--sail-violet50: #f8f9fe;

--sail-violet100: #e6e6fc;

--sail-violet200: #c7c2ea;

--sail-violet300: #b0a1e1;

--sail-violet400: #9c82db;

--sail-violet500: #8260c3;

--sail-violet600: #61469b;

--sail-violet700: #4b3480;

--sail-violet800: #352465;

--sail-violet900: #1f184e;

  --sidebar-width: 220px;
  --content-width: calc(100vw - var(--sidebar-width));
  --section-padding: 5vw;
  --example-width: 40vw;

  --sp20: 20px;
  --sp24: 24px;

  --monospace-font: "SFMono-Regular", "Consolas", "Menlo", monospace;
  --font-size-main: 16px;

  --redish: #e06c75;
  --red-odyssey: #f76c6c;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

html {
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100%;
  -moz-osx-font-smoothing: grayscale;
}

body[data-theme="dark"] {
  background-color: var(--sail-gray900);
}

body[data-theme="light"] {
  --sail-gray50: var(--sailgray900);
  background-color: var(--sail-gray50);
}

#sidebar {
  width: var(--sidebar-width);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  box-shadow: -1px 0 0 0 var(--sail-gray700) inset;
}

.sidebar-header {
  color: var(--sail-gray50);
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .sidebar-title {
    font-size: 15px;
    line-height: 20px;
  }

  .api {
    text-transform: uppercase;
    color: var(--sail-cyan500);
  }
}

.sidebar-nav {
  margin-top: 16px;

  a {
    text-decoration: none;
    color: var(--sail-gray300);
    transition: color .2s ease;
    font-size: 14px;
    display: block;
    padding: 5px 16px;

    &:hover {
      color: var(--sail-gray50);
    }
  }

  a.current span {
    border-bottom: 2px solid var(--sail-cyan500);
  }

  li > ul {
    display: none;
    padding-left: 16px;
    transition: all 2s ease;
  }

  li.expanded > ul {
    display: block;
  }
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  height: 20px;

  .theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
  }

  .theme-switch input {
    display:none;
  }

  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 4px;
    height: 14px;
    transition: .4s;
  }

  .slider:before {
    background-color: #fff;
    bottom: -2px;
    content: "";
    height: 18px;
    left: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.07), 0 1px 3px 0 rgba(59,65,94,.1);
    position: absolute;
    transition: .4s;
    width: 18px;
  }

  input:checked + .slider {
    background-color: var(--sail-blue700);
  }

  input:checked + .slider:before {
    transform: translateX(20px);
  }

  .slider.round {
    border-radius: 20px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}


#content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: var(--sidebar-width);
  overflow-x: hidden;
  overflow-y: scroll;
}

/** Sections **/

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-divider {
  height: 1px;
  margin-top: -1px;
  border-bottom: 1px solid var(--sail-gray700);
  width: 100%;
}

#content > section:first-of-type > .section-divider {
  visibility: hidden;
}

section > section:first-of-type .section-divider {
  width: 100% ;
}

section > section .section-divider {
  width: calc(100% - 2 * var(--section-padding)) ;
}

.head-section > section:first-child {
  display: block;
}

.head-section > section {
  display: none;
  background-color: var(--sail-gray800);
}

.head-section.expanded {
  & > section {
    display: block;
    background-color: var(--sail-gray900);
  }

  .button-wrapper {
    display: none;
  }
}

.button-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;

  .button {
    display: flex;
    justify-content: center;
    background: var(--sail-gray900);
    border-radius: 24px;
    padding: 4px 12px;
    color: var(--sail-cyan500);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid var(--sail-gray600);
    font-weight: 600;
    transform: translateY(-28px);

    > div { margin-right: 4px }

    &:hover {
      filter: brightness(115%);
    }
  }

  svg {
    margin: 2px 0;
    fill: var(--sail-gray400)
  }
}


.section-area {
  width: 100%;
  padding: var(--section-padding);
  display: flex;
  flex-direction: row;
}

.section-body {
  flex-shrink: 0;
  width: calc(var(--example-width) - var(--section-padding));
  margin-right: var(--section-padding);
}

.section-example {
  position: sticky;
  align-self: flex-start;
  top: 0;
  flex-grow: 1;
  max-width: 600px;
  padding-top: calc(40px + var(--sp20));
}

// Global paragraph
p {
  margin-top: var(--sp20);
  font-size: var(--font-size-main);
  line-height: 24px;
  font-weight: 400;
  color: var(--sail-gray200);
  --moz-osx-font-smoothing: grayscale;
}

section section:not(:first-of-type) p {
  font-size: 14px;
  line-height: 22px;
}

// Global list
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.section-body {
  h1 {
    font-size: 24px;
    font-weight: 500;
    color: var(--sail-gray50);
    line-height: 40px;
    margin: 0;
  }

  p.intro {
    font-size: 16px;
    line-height: 22px;

    font-weight: 400;
    margin-top: 24px;
  }
}

.section-response {
  background: var(--sail-gray800);
  border-radius: 8px;
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.15);

  .response-topbar {
    background: var(--sail-gray700);
    padding: 10px 12px;
    font-weight: 500;
    font-size: 12px;
    color: var(--sail-gray200);
    border-radius: 8px 8px 0 0;
  }

  p {
    margin: 0;
    padding: 12px var(--sp20);
  }

  pre {
    margin: 0;
    padding: 12px;
    color: var(--sail-gray300);
    font-family: var(--monospace-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
}

.section-endpoints {
  padding: 12px 22px;

  .endpoint-def {
    display: flex;
    flex-direction: row;
    font-family: var(--monospace-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: var(--sail-gray300);
  }

  .method {
    text-align: right;
    width: 55px;
    margin-right: 7px;
  }

  .method__get    { color: var(--sail-blue400) }
  .method__post   { color: #50b573 }

  .method__patch,
  .method__put {
    color: #50b573;
  }

  .method__delete { color: var(--redish) }

  a {
    text-decoration: none
  }

  a:hover .method {
    filter: brightness(115%);
  }

  a:hover .path {
    color: var(--sail-gray50);
  }
}

.section-list {
  margin-top: 32px;

  .section-list-title {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--sail-gray700);
    display: flex;
    align-items: baseline;
    color: var(--sail-gray50);
    margin: 0;
    margin-top: var(--sp20);
    width: 100%;
  }

  .list-item {
    padding-top: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--sail-gray700);

    &:last-child {
      border-bottom: none;
    }
  }

  .list-item-label {
    display: flex;
    margin: 0;
    padding: 0 0 8px;
    align-items: baseline;
    margin-bottom: -8px;
  }

  .list-item-label > div {
    margin-right: 6px;
  }

  .list-item-name {
    font-family: var(--monospace-font);
    font-size: 14px;
    color: var(--sail-gray100);
  }

  .list-item-type {
    font-size: 12px;
    font-weight: 600;
    color: var(--sail-gray500);
  }

  .list-item-req {
    font-size: 10px;
    font-weight: 600;
    color: var(--redish);
    text-transform: uppercase;
  }

  .list-item-description p {
    margin: 0;
    margin-top: 4px;
  }

  .section-list-child {
    border: 1px solid var(--sail-gray700);
    border-radius: 16px;
    display: inline-block;
    transition: all .2s ease;
    margin-top: 8px;

    &.list-shown {
      width: 100%;
    }
  }

  .section-list-title-child {
    margin: 0;
    border-bottom: none;
    display: inline-block;
    padding: 6px 10px;
    color: var(--sail-gray500);
    text-transform: none;
    font-size: 13px;

    &:hover {
      cursor: pointer;
      color: var(--sail-gray100);
    }

    &.child-revealed {
      border-bottom: 1px solid var(--sail-gray700);

      .svg-plus {
        transform: rotate(45deg);
      }
    }

    .svg-plus {
      color: var(--sail-gray500);
      transition: transform .2s ease;
      display: inline-block;
      transform: rotate(0deg);
      transform-origin: center;
      margin-right: 6px;
    }
  }

  .child-list .list-item {
    padding: 12px;
  }
}

.svg-icon {
  fill: currentColor;
}

/** Tables **/

.header-table {
  padding: 14px;
  color: var(--sail-gray100);
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--sail-gray700);
}

.table-wrapper {
  border: 1px solid var(--sail-gray700);
  border-radius: 8px;
}

table td {
  padding: 9px 14px 9px 10px;
  color: var(--sail-gray200);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  vertical-align: baseline;
}

table tr td:first-child {
  padding: 9px 10px 9px 14px;
  width: 40%;
}

table .cell-property {
  font-weight: 600;
  text-align: right;
}

table .cell-definition {
  text-align: left;
}

/** Inline code **/

p code {
  color: var(--sail-gray100);
  border-radius: 4px;
  border: 1px solid hsla(0, 0%, 100%, .1);
  padding: 2px 3px 0;
  margin: 0 1px;
  font-size: 15px;
  font-family: var(--monospace-font);
  font-weight: 500;
  background: hsla(0, 0%, 100%, .08)
}
