<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>RTFDoc</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="application.css">
</head>
<body data-theme="dark">
  <div id="sidebar" class="sidebar">
    <div class="sidebar-header">
      <div class="sidebar-title">
        odyssey <span class="api">api</span>
      </div>
      <div class="theme-switch-wrapper">
        <div class="theme-switch">
          <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" checked="checked" />
            <div class="slider round"></div>
          </label>
        </div>
      </div>
    </div>
    <nav class="sidebar-nav" role="navigation">
      <ul><%= @menu_content %></ul>
    </nav>
  </div>
  <div id="content" class="content-area">
    <div class="top-nav" style="height: 50px"></div>
    <%= @content %>
  </div>
</body>
</html>
