<section id="<%= @id %>" class="head-section">
  <div class="section-divider"></div>
  <div class="section-area">
    <div class="section-body">
      <%= content_to_html %>
    </div>
    <div class="section-example">
      <%= example_to_html %>
    </div>
  </div>
</section>
